
html,body{
  width: 100%;
  height: 100%;
  background-color: #222D32;
}
.mt_150{
  margin-top:150px;
  
}
.panel-box{
   position: relative;
}
.panel-box .message{
   width: 350px;
   height: 40px;
   background: red;
   position: absolute;
   left:0;
   top:-50px;
   display: none;
}
.panel-box .message p{
   height: 40px;
   line-height: 40px;
   color: #fff; 
}